html { 
	background-image: url("../images/background.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	font-family: "Lucida Handwriting", "Brush Script MT", cursive; 
	font-style: italic;
	font-size: 2vw;
	text-align: center;
	color: #DCDAFF;	
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.image {
	content:url("../images/book.png");
	margin: 1em;
	max-width: 35%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;	repeat: no-repeat;
	attachment: fixed;
}​

.pag_tot{
	font-family: "Lucida Handwriting", "Brush Script MT", cursive;
	color: #700D0D;
}

.ft_text1_1{
	font-family: "Lucida Handwriting", "Brush Script MT", cursive;
	color: #700D0D;
	width: 42%;
    float: left;	
    padding-left: 7.5%;
	padding-right: 4%;
	font-size: 20px;
	text-align:justify;
}

.ft_text1_2{
	font-family: "Lucida Handwriting", "Brush Script MT", cursive; 
	color: #700D0D;
	margin-right: 7%;
	font-size: 20px;
	padding-left: 54%;
	text-align:justify;
}	

.arrow p {
	padding-bottom: 2%;
	margin-left: 7%;
	margin-right: 65%;
	font-family: "Lucida Handwriting", "Brush Script MT", cursive;
	color: #700D0D;
	font-size: 20px;
}

#cont {
	text-align: center;
}

#cont li {
	list-style-type: none;
	float: left;
	font-family: "Lucida Handwriting", "Brush Script MT", cursive; 
	color: #700D0D;
}
			
#cont a {
	display: block;
	padding: 8px;
	background-color: #ffffff;
	opacity: .5;
}

#cont ul {
	justify-content: center;
	display: flex;
}

.img4 {
	content:url("../images/page_4.png");
	margin: 1em;
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;	repeat: no-repeat;
	attachment: fixed;
}

.wilhelm {
	content:url("../images/wilhelm.png");
	margin: 1em;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;	repeat: no-repeat;
	attachment: fixed;
}

.tbl_header{
	color: #953D09; 
	text-align: center; 
	font-size: 25px;
	font-family: "Lucida Handwriting", "Brush Script MT", cursive; 
}

.tbl_text{
	color: #953D09; 
	text-align:justify;
	padding: 10px;
	font-size: 15px;
	font-family: Apple Chancery, cursive; 
}

.img1 {
	content:url("../images/page_1_2.png");
	margin: 1em;
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;	repeat: no-repeat;
	attachment: fixed;
}​

table {
	border: 3px solid black;
}

button {
    cursor: pointer;
	display: flex;
	margin: 0 auto;
	font-family: "Lucida Handwriting", "Brush Script MT", cursive; 
	color: #1F0808;
	font-size: 20px;
	background-color: #ffffff;
	opacity: .5;
}

.Slides {
	display: none;
	font-family: Verdana, sans-serif;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.slideshow-container {
	max-width: 250px;
	position: relative;
	margin: auto;
}

#clock{
	display: block;
	padding: 8px;
	background-color: #ffffff;
	opacity: .5;
}

.dropbtn {
	border: none;
}

.account {
	display: block;
	padding: 5.5px;
	background-color: #ffffff;
	opacity: 0.5;
	border: none;
}

.dropdown-content {
	display: none;
	min-width: 130px;
}

.account:hover .dropdown-content {display: block;}

.account:hover .dropbtn {background-color: black; color: white;}

.dropdown-content a:hover {color: black;}

.popup{
	font-family: "Lucida Handwriting", "Brush Script MT", cursive; 
	font-size: 85px;
	color: #700D0D;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: 80%;

}